body {
    width: 720px;
    margin: auto;
   /* margin-top: 50px;*/
    margin-bottom: 50px;
    /* border: thin solid black; */
    /*border: thin solid black;*/
    padding: 35px;
}

body, td, p {
    font-family: "Calibri";
}

table {
    margin-top: 15px;
    width: 100%;
    border-top: thin solid black;
    border-bottom: thin solid black;
    border-spacing: 0px;
}

table tr:first-child td {
    border-bottom: thin solid black;
}

.statTable tr:nth-child(2) td {
    border-bottom: thin solid black;
}

h1, h2, h3 {
    font-family: "Bodoni MT";
}

h1 {
    color: #623874;
}

h2, h3 {
    color: #47680e;
}

h2 img {
    width: 35px;
    height: 35px;
}

th {
    font-family: "Bodoni MT";
    color: #623874;
    text-align: left;
    border-bottom: thin solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

table tr td:first-child b {
    margin-left: 40px;
}

.pagebreak {
    page-break-before:always;
}

td h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chart {
    width: auto;
    border-bottom: none;
}

.chart th {
    font-style: italic;
}

.chart div {
    width: 720px;
}

@media print { 
	body {
		border: none;
	}
}
